.button_container-button{
    width: 6rem;
    height: 2.5rem;

    border-style: none;
    border-radius: 9px;

    margin: 1rem 1rem 1rem 0rem;
    padding: 0.5rem;

    font-size: 0.8rem;

    color: var(--button-text-color);
    background-color: var(--button-background-color);
    
}
.button_container-button:hover{
    width: 6rem;
    height: 2.5rem;

    border-style: none;
    border-radius: 9px;

    margin: 1rem 1rem 1rem 0rem;
    padding: 0.5rem;

    font-size: 0.8rem;

    color: var(--button-text-color);
    background-color: var(--button-background-hovered-color);
}
.button_container-button:active{
    width: 6rem;
    height: 2.5rem;

    border-style: none;
    border-radius: 9px;

    margin: 1rem 1rem 1rem 0rem;
    padding: 0.5rem;

    font-size: 0.8rem;

    color: var(--button-text-color);
    background-color: var(--button-background-clicked-color);
}

.button_container-button-on{
    background-color: var(--button-on-color);
}
.button_container-button-on:hover{
    background-color: var(--button-on-hover-color);
}