button{
    border-style: none;
    font-size: 0.9rem;
    margin: 0 1rem;
}
.navbar_container{
    margin: 3rem 0 5rem 0;
}

.navbar_container-options:hover{
    color: var(--navbar-option-hovered-color);
}