:root{
  
  --background-color: #f8f8f0;
  --heading-color: #2c211a;

  --button-background-color: #2c211a;
  --button-background-hovered-color: #705f58;
  --button-background-clicked-color: #14100d;
  --button-text-color: #ffffff;
  --button-on-color: #FFC60B;
  --button-on-hover-color: #dfab00;

  --grid-edit-color: #d9dfdf;
  --grid-border-color: #8abdbe;
  --grid-color: #d9dfdf;


  --node-unvisited-color:#ffffff;
  --node-unvisited-edit-color: #f8f8f0;
  --node-hovered-color: #e9e8e8;
  --node-blocked-color: #dfdfdf;
  --node-continuous-hovered-color: #FFC60B;
  --node-start-color: #69e4bb;
  --node-start-hovered-color: #aaffe3;
  --node-start-continuous-hovered-color: #aaffe3;
  --node-end-color: #ed3e3b;
  --node-end-hovered-color: #ff9f9e;
  --node-end-continuous-hovered-color: #ff9f9e;
  --node-weighted-color: #fdb63a;
  --node-weighted-hovered-color: #ffca6e;
  --node-en_route-color: rgb(58, 61, 253);
  --node-continuous-hovered-color: #FFC60B;

  --node-visited-50-color: #A73489;
  --node-visited-75-color:#FF3D68;
  --node-visited-100-color:#ff6196;

  --node-shortest_path-50-color: #FF8B00;
  --node-shortest_path-75-color:#FEFFDB;
  --node-shortest_path-100-color:#ffe23e;

  --node-blocked-50-color: #9abcd3;
  --node-blocked-75-color:#FAD586;
  --node-blocked-100-color:#dfdfdf;
}

* {    
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}
